body
{
  font-family: Arial, Gadget, sans-serif;
  font-size: 15px;
  color: white; 
} 
h1
{
  color:yellow;
  font-size: 30px;
  font-family: Arial, Gadget, sans-serif;
  font-weight:bold;
  text-align:center;
}
img
{
  position: absolute;
  left: 60px;
  top: 300px;
}
div3
{
  font-family: Arial, Gadget, sans-serif;
  font-size:16px;
  position: absolute;
  top: 5px;
  right: 60px;
  font-weight:bold;
  font-family: Arial, Gadget, sans-serif;
}
div4
{
  position: absolute;
  left: 200px;
  top: 300px;
  font-weight: normal;
}
.nomes
{
  font-size: 15px;
  font-family: Arial, Gadget, sans-serif;
  color: white;
  top: 600px;
  position: absolute;
  font-weight:normal;
}