body
{
  font-family: Arial, Gadget, sans-serif;
  font-size: 15px;
  color: white; 
} 

div11
{
  background-color: blue;
  text-align: left;
  letter-spacing:2px;
  line-height:10%;
  font-family: Arial, Gadget, sans-serif;
  font-size: 15px;
  right:8px;
  top: 140px;
  width:450px;
  height:72px;
  position: absolute;
  font-weight:normal;
}
.left
{
  height:60px;
  width:60px;
  display: block;
  position: absolute;
  left: 120px;
  top: 15;  
  bottom: 10; 
}

.facebook
{
  width: 30%;
  height: 50%;
  position: absolute;
  bottom: 10; 
  top: 5;
  right: 6px;
  
}

.align_text
{
  left: 10px;
  bottom: 10; 
  top: 20;
  position: absolute;
  bottom: 10; 
}

.facebook2
{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 10; 
  top: -1;
  right: 1px;
}

.yellow
{
  color: yellow;
  font-family: Arial, Gadget, sans-serif;
  font-size:12px;
  right: 222px;
}

.letra
{
  position: absolute;
  bottom: 10px; 
  top: 40px;
  right: 100px;
}
h1
{
  color:yellow;
  font-size: 30px;
  font-family: Arial, Gadget, sans-serif;
  font-weight:bold;
  text-align:center;
}
div2
{
  position: absolute;
  left: 30px;
  top: 300px;
  width: 900px;
  height: 500px;
}
div3
{
  font-family: Arial, Gadget, sans-serif;
  font-size:16px;
  position: absolute;
  top: 60px;
  right: 60px;
  font-weight:bold;
  font-family: Arial, Gadget, sans-serif;
}
.cor
{
  background-color: #000066;
  color: white;
  top: 300px;
  position: absolute;
  right: 20px;
  height: 100px;
  width: 200px;
  font-weight: bold;
  border: 2px solid black;
}
div4
{
  background-color: #383838;
  color: white;
  position: absolute;
  top: 820px;
  left: 30px;
  border: 2px solid black;
  height: 90px;
  width: 300px;

}

div5
{
  color: white;
  font-family: Arial, Gadget, sans-serif;
  font-size:16px;
  position: absolute;
  top: 820px;
  left: 340px;
  width: 590px;
  height: 90px;
  background-color: 33CCFF;
  font-weight:bold;
  border:3px solid black;
  text-align: center;
  line-height: 100px;
}

div6
{
  color:white;
  font-size: 15px;
  font-family: Arial, Gadget, sans-serif;
  font-weight:normal;
  position: relative;
  bottom: 600px;
  top: 800px;
}

.nomes
{
  font-size: 15px;
  font-family: Arial, Gadget, sans-serif;
  color: white;
  font-weight:normal;
  top: 1050px;
  position: absolute;
}

.alinhar
{
  position: absolute;
  left: 10px;
}